  
  .bg{
    background: rgba(0,0,0, 0) url('../img/backg2.jpg');
    background-color: azure;
    background-size: cover;
    background-blend-mode:darken;
}

.firstSec{
display:flex;
}

.choose{
font-family: 'Times New Roman', Times, serif;
font-size: 2em;
margin-top: 150px;
height:600px;
margin-left: 15px;
}

.list{
font-size:30px;
margin-top: 100px;
margin-right:10px;
justify-content:center;
font-family: 'Times New Roman', Times, serif;
}

.one{
margin-top: 150px;
align-items: center;
text-align: center;
}

.transbox{
    background-color:black;
    opacity: 0.6;
}


.two{
margin-top:250px;
}

.three{
margin-top:350px;
}

.four{
margin-top:450px;
}

input[type='number']{
    width:730px;
    text-align:center;
    margin-top:15px;
}

input[type='text']{
    text-align:center;
    margin-top:15px;
    
}

input[type="submit"]{
    border-color:black;
    margin-bottom: 10px;
    width:100px;

}

input{
padding:4px;
}

.footer{
    background-color:pink;
    text-align: center;
    font-size:20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


*{
    margin:0;
    padding:0;
}

.logo{
 width:20%;
 display: flex;
 justify-content:center;
 align-items:center;
}

.logo img{
 width:70%;
 border:3px solid white;
 border-radius: 60%;
}

.navbar{
display: flex;
position: fixed;
}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li{
list-style: none;
padding:26px 30px;
}

.nav-list li a{
text-decoration: none;
color:white;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:16px;
}

.nav-list li a:hover{
    color:grey;
    }

.rightNav{
width:50%;
text-align:right;
}

#search{
    padding: 3px;
    font-size: 15px;
    border:2px solid grey;
    border-radius: 9px;
    margin-top:15px;
}

.btn-sm{
color:black;
padding:2px;
border:2px solid grey;
border-radius:10%;
margin-right: 5px;
}

.background{
    background: rgba(0,0,0, 0.3) url('../img/bg4.jpeg');
    background-size: cover;
    background-blend-mode:darken;
}

.btn-logout{ 
     color:black;
    padding:2px;
    border:2px solid grey;
    border-radius:10%;
    margin-right: 5px;
    font-size: 1.2em;
    margin-top:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  
.box-main{
    display:flex;
}

.secondHalf{
    margin-top:200px;
    margin-left:6px;
    font-size:1.5em;
    font-family: 'Oswald', sans-serif;
}
