
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


*{
    margin:0;
    padding:0;
}

.logo{
 width:20%;
 display: flex;
 justify-content:center;
 align-items:center;
}

.logo img{
 width:70%;
 border:3px solid white;
 border-radius: 60%;
}

.navbar{
display: flex;
position: fixed;
}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li{
list-style: none;
padding:26px 30px;
}

.nav-list li a{
text-decoration: none;
color:white;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:16px;
}

.nav-list li a:hover{
    color:grey;
    }

.rightNav{
width:50%;
text-align:right;
}

#search{
    padding: 3px;
    font-size: 15px;
    border:2px solid grey;
    border-radius: 9px;
    margin-top:15px;
}
.btn-sm{
color:black;
padding:2px;
border:2px solid grey;
border-radius:10%;
margin-right: 5px;
}

.background{
    background: rgba(0,0,0, 0.3) url('../img/bg4.jpeg');
    background-size: cover;
    background-blend-mode:darken;
}

.btn-logout{
    color:black;
    padding:2px;
    border:4px solid grey;
    border-radius:10%;
    margin-right: 5px;
    font-size: 1.2em;
    margin-top:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  
.box-main{
    display:flex;
}

.secondHalf{
    margin-top:180px;
    margin-left:6px;
    font-size:1.5em;
    font-family: 'Oswald', sans-serif;
}

.firstHalf{
margin-top:70px;
}

.image{
    height:400px;
    width:400px;
    
}

.upperHalf{
    background-color: rgb(237, 228, 216);
    display:flex;
    overflow:hidden;
    align-items:center;
    justify-content: center;
}


.image1{
    background: rgba(0,0,0, 0.4)url('../img/encylopedia.webp'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
    
}

.image1:hover{
    transform:scale(1.2);
}

.image2{
    background: rgba(0,0,0, 0.4)url('../img/Biographies.jpg'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
    
}

.image2:hover{
    transform:scale(1.2);
}

.image3{
    background: rgba(0,0,0, 0.4)url('../img/textbooks.jpg'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
}

.image3:hover{
    transform:scale(1.2);
}

.big-text{
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 40%;
}

.small-text{
    text-align:center;
}

.pad{
    padding:50px;
    margin-top:40px;
}

#fic{
 background-color: rgb(237, 181, 181);
font-size: 4em;
text-align:center;
margin-top:20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.upperHalf2{
    background-color: rgb(237, 228, 216);
    display:flex;
    overflow:hidden;
    align-items:center;
    justify-content: center;

}

.image4{
    background: rgba(0,0,0, 0.4)url('../img/Newspapers.jpeg'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
}

.image4:hover{
    transform:scale(1.2);
}

.image5{
    background: rgba(0,0,0, 0.4)url('../img/magazines.jpeg'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
}

.image5:hover{
    transform:scale(1.2);
}


.image6{
    background: rgba(0,0,0, 0.4)url('../img/dictionaries.jpg'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
}

.image6:hover{
    transform:scale(1.2);
}


#nfic{
   background-color: rgb(198, 246, 198);
   font-size: 4em;
   text-align:center;
   margin-top:20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

.btn{
text-align:center;
}

.image7{
    background: rgba(0,0,0, 0.4)url('../img/comics.jpg'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
}

.image7:hover{
    transform:scale(1.2);
}
.image8{
    background: rgba(0,0,0, 0.4)url('../img/drama.jpg'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
}

.image8:hover{
    transform:scale(1.2);
}
.image9{
    background: rgba(0,0,0, 0.4)url('../img/Myths.png'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
}

.image9:hover{
    transform:scale(1.2);
}

.image10{
    background: rgba(0,0,0, 0.4)url('../img/fairytales.webp'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
}

.image10:hover{
    transform:scale(1.2);
}

.image11{
    background: rgba(0,0,0, 0.4)url('../img/humorous.jpg'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
}

.image11:hover{
    transform:scale(1.2);
}

.image12{
    background: rgba(0,0,0, 0.4)url('../img/adventurous.jpg'); 
    background-size: cover;
    background-blend-mode:darken;
    height:250px;
    width:250px;
    color: white;
    margin-left:50px;
    transition: transform 2s;
}

.image12:hover{
    transform:scale(1.2);
}

.collection{
justify-content: center;
align-items: center;
text-align:center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
height:200px;
width:600px;
margin-left: 400px;
font-size:20px;
color: rgb(52, 52, 103);
}


.h1{
color:brown;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 2em;
}

.footer{
background-color: grey;
text-align: center;
font-size:20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
